<!DOCTYPE html>
<html ng-app="offersApp">
<body>
	<div class="panel panel-default">
		<div class="panel-heading">Offer</div>
		<div class="panel-body">
			<form name="offerForm" ng-controller="offerEditController" ng-submit="submitOffer()" class="edit-user-form">
				<label>Name</label>
				<p>{{offer.user.firstName + " " + offer.user.lastName}}</p>
				<label>Email</label>
				<p>{{offer.user.email}}</p>
				<label>Offer</label> 
				<span class="label label-danger"
					ng-show="offerForm.offerDetails.$error.maxlength">Too long!</span>
				<textarea name="offerDetails" ng-model="offer.offerDetails"
					class="form-control" ng-required="true" ng-maxlength="250"
					ng-trim="true"></textarea>
				<input type="hidden" name="id" ng-model="offer.id">
				<input type="hidden" name="username" ng-model="offer.user.username">
				<hr />
				<button type="submit" ng-show="offerForm.$valid"
					class="btn btn-success">Submit</button>
				<button type="button" ng-hide="offerForm.$valid"
					class="btn btn-disabled">Submit</button>
				<button type="button" ng-show="offer.id" ng-click="deleteOffer()"
					class="btn btn-danger delete">Delete</button>
				<a href="#/" class="btn btn-warning">Cancel</a>
			</form>
		</div>
	</div>
</body>
</html>